<!DOCTYPE html>
<html lang='en'>

<head>
    <meta charset="utf-8" />
    <title> JAVASCRIPT and JSON </title>
    <script src="https://code.jquery.com/jquery-3.1.1.js"></script>
    <!-- Google Fonts -->
    <link href='https://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700|Lato:400,100,300,700,900' rel='stylesheet' type='text/css'>

</head>


<style>
    body {
        background: url("../../public/images/GBVIN.jpg") center center fixed;
        background-size: cover;
        background-repeat: repeat-x;
        margin: 10px;
        padding: 0px;
        font-family: 'Roboto Slab', serif;
    }
    
    #map {
        height: 400px;
        width: 600px;
        margin: 0px;
        padding: 0px
    }
    
    #pixabay {
        width: 960px;
        height: 720px
    }
    
    #question {
        padding: 10px;
        width: 40%;
        height: 25%;
        word-wrap: break-word;
        background-color: darkgrey;
        color: #704214;
    }
    
    #secret {
        padding: 10px;
        width: 40%;
        height: 10%;
        background-color: red;
    }
</style>

<body>

    <h1 id="location"><strong>Destination: London</strong></h1>
    <span><img id="secret" src="../../public/images/secret.png"/></span>
    <div id="question">
       <h1>You have arrived in Londond!</h1>
       <h2>Here is your question</h2>

      <p>    
          {{this[0].question}}
          </p>

    </div>
    <div id="answer"></div>
    <div id="pic"></div>

</body>